.price-wrapper {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.price-title {
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 3.6rem;
    margin: 7.2rem auto;
    text-align: center;
    line-height: 3.6rem;
}
