.dowhat-wrapper-des {
    font-size: 16px;
    color: #444;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    margin-bottom: 32px;
}

.dowhat-wrapper-title {
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #f6cd61;
}
