.footer-wrapper {
    background-color: #000;
    height: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    font-size: 48px;
    color: #fff;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
}
