.whychoose-wrapper-title {
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 3.2rem;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #000;
    line-height: 4.8rem;
}
